 .u-section-1 {
  background-image: none;
  min-height: 1105px;
}

.u-section-1 .u-image-1 {
  height: 648px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  height: 557px;
  width: 340px;
  margin: -180px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  min-height: 395px;
  width: 537px;
  margin: -496px auto 0 calc(((100% - 1140px) / 2) + 66px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 30px 45px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 3.4375rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 16px 0 0 1px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 22px 1px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 457px;
  min-height: 534px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -456px calc(((100% - 1140px) / 2)) 61px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 41px auto 0 0;
  padding: 11px 31px 11px 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-image-1 {
    height: 607px;
  }

  .u-section-1 .u-shape-1 {
    height: 527px;
    width: 242px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 352px;
    width: 404px;
    margin-top: -466px;
    margin-left: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-group-2 {
    width: 423px;
    min-height: 545px;
    margin-top: -413px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1339px;
  }

  .u-section-1 .u-image-1 {
    height: 564px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -195px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 348px;
    margin-top: -479px;
    margin-left: calc(((100% - 720px) / 2) + 65px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 561px;
    min-height: 484px;
    margin-top: 30px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1369px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 338px;
    width: 410px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-group-2 {
    width: 475px;
    min-height: 529px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1481px;
  }

  .u-section-1 .u-image-1 {
    height: 497px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -128px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 308px;
    width: 309px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.375rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 309px;
    min-height: 666px;
    margin-top: 40px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 24px 20px;
  }
} .u-section-2 {
  min-height: 1356px;
}

.u-section-2 .u-shape-1 {
  height: 580px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 998px;
  margin: -490px auto 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 812px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  margin: 20px 1px 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 300;
  margin: 20px 0 0 1px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 454px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px 30px 30px;
}

.u-section-2 .u-image-2 {
  height: 344px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  margin: 0 1px;
}

.u-section-2 .u-shape-2 {
  width: 297px;
  height: 35px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 951px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-image-3 {
  height: 238px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 30px auto 0;
  padding: 11px 31px 11px 30px;
}

.u-section-2 .u-shape-3 {
  width: 120px;
  height: 120px;
  background-image: none;
  margin: 58px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 765px;
  }

  .u-section-2 .u-image-1 {
    height: 256px;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-2 .u-image-2 {
    height: 318px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 896px;
  }

  .u-section-2 .u-image-3 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1207px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 412px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 583px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 357px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1033px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    height: 325px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-2 .u-image-2 {
    height: 459px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 839px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 333px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 423px;
}

.u-section-3 .u-line-1 {
  width: 194px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px 218px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 218px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 30px auto 60px 0;
  padding: 11px 31px 11px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-4 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 777px auto 0 133px;
}

.u-section-4 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -883px 139px 0 auto;
}

.u-section-4 .u-image-1 {
  height: 543px;
  width: 901px;
  margin: -126px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 732px;
  min-height: 616px;
  height: auto;
  margin: -308px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 24px 30px 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 16px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 36px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 714px;
    margin-left: 95px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -820px;
    margin-right: 113px;
  }

  .u-section-4 .u-image-1 {
    height: 492px;
    width: 726px;
  }

  .u-section-4 .u-group-1 {
    width: 453px;
    min-height: 521px;
    margin-top: -232px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-4 .u-shape-1 {
    width: 137px;
    height: 137px;
    margin-top: 652px;
    margin-left: 64px;
  }

  .u-section-4 .u-shape-2 {
    width: 221px;
    height: 221px;
    margin-top: -729px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-1 {
    height: 418px;
    width: 612px;
  }

  .u-section-4 .u-group-1 {
    width: 411px;
    min-height: 489px;
    margin-top: -158px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 14px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-4 .u-shape-1 {
    width: 113px;
    height: 113px;
    margin-top: 582px;
    margin-left: 25px;
  }

  .u-section-4 .u-shape-2 {
    width: 183px;
    height: 183px;
    margin-top: -635px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 346px;
    width: 476px;
    margin-top: -109px;
  }

  .u-section-4 .u-group-1 {
    width: 378px;
    margin-top: -86px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 755px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 142px;
    height: 142px;
    margin-top: -843px;
  }

  .u-section-4 .u-image-1 {
    height: 224px;
    width: 285px;
    margin-top: -82px;
  }

  .u-section-4 .u-group-1 {
    width: 285px;
    min-height: 535px;
    margin-top: -20px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 11px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1199px;
}

.u-section-5 .u-image-1 {
  width: 955px;
  height: 554px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 60px 0 0 auto;
}

.u-section-5 .u-group-1 {
  width: 592px;
  min-height: 258px;
  margin: -83px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 0;
}

.u-section-5 .u-group-2 {
  width: 1026px;
  min-height: 350px;
  margin: 0 auto 14px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 50px 20px 50px 29px;
}

.u-section-5 .u-line-1 {
  width: 84px;
  height: 3px;
  transform-origin: right center;
  margin: 15px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: -18px 0 0 114px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px 549px 0 114px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 46px auto 0 114px;
  padding: 11px 62px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-5 .u-image-1 {
    width: 860px;
    height: 545px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -74px;
  }

  .u-section-5 .u-group-2 {
    width: 940px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-5 .u-image-1 {
    width: 644px;
    height: 436px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -66px;
  }

  .u-section-5 .u-group-2 {
    min-height: 377px;
    margin-top: 28px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -18px;
    margin-right: 0;
    margin-left: 119px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 119px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 35px;
    margin-left: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-5 .u-image-1 {
    width: 505px;
    height: 344px;
  }

  .u-section-5 .u-group-1 {
    width: 488px;
    min-height: 251px;
    margin-top: -42px;
  }

  .u-section-5 .u-group-2 {
    min-height: 405px;
    margin-top: 15px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 128px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 30px;
    margin-left: 128px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 30px;
    margin-left: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 236px;
  }

  .u-section-5 .u-group-1 {
    min-height: 158px;
    width: 310px;
    margin-top: -32px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-group-2 {
    min-height: 528px;
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-line-1 {
    width: 46px;
    transform-origin: left center;
  }

  .u-section-5 .u-text-2 {
    margin-left: 60px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    margin-left: 60px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-6 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: 60px 139px 0 auto;
}

.u-section-6 .u-image-1 {
  height: 543px;
  width: 1013px;
  margin: -183px auto 0 0;
}

.u-section-6 .u-group-1 {
  width: 732px;
  min-height: 114px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-right: 8px;
  padding-left: 8px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 0 0 48px;
}

.u-section-6 .u-shape-2 {
  width: 166px;
  height: 166px;
  margin: 15px auto 60px 133px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-6 .u-image-1 {
    height: 504px;
    width: 940px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-6 .u-image-1 {
    height: 386px;
    width: 720px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-6 .u-image-1 {
    height: 290px;
    width: 540px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: 112px;
  }

  .u-section-6 .u-image-1 {
    height: 183px;
    width: 340px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-7 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: 52px auto 0 133px;
}

.u-section-7 .u-image-1 {
  height: 543px;
  width: 731px;
  margin: -114px 162px 0 auto;
}

.u-section-7 .u-group-1 {
  width: 732px;
  min-height: 114px;
  height: auto;
  margin: -46px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding-right: 8px;
  padding-left: 8px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 0 0 48px;
}

.u-section-7 .u-shape-2 {
  width: 166px;
  height: 166px;
  margin: 8px 106px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-7 .u-image-1 {
    height: 535px;
    width: 720px;
    margin-right: 0;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
    margin-top: -38px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-7 .u-image-1 {
    height: 401px;
    width: 540px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    margin-top: 96px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 112px;
  }

  .u-section-7 .u-image-1 {
    height: 252px;
    width: 340px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 840px;
}

.u-section-8 .u-shape-1 {
  width: 331px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-image-1 {
  min-height: 500px;
  background-image: url("images/jamie-street-88IMbX3wZmI-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 250px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-image-2 {
  min-height: 250px;
  background-image: url("images/wayan-aditya-O1j8b4iBD1M-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px;
}

.u-section-8 .u-image-3 {
  min-height: 250px;
  background-image: url("images/rajesh-mishra-MeOiwmZwG_k-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px;
}

.u-section-8 .u-layout-cell-5 {
  min-height: 250px;
}

.u-section-8 .u-container-layout-5 {
  padding: 20px;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 500px;
}

.u-section-8 .u-container-layout-6 {
  padding: 20px 40px;
}

.u-section-8 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 33px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-8 .u-image-1 {
    min-height: 412px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-8 .u-image-2 {
    min-height: 206px;
  }

  .u-section-8 .u-image-3 {
    min-height: 206px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 206px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 412px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-8 .u-image-1 {
    min-height: 631px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-8 .u-image-2 {
    min-height: 316px;
  }

  .u-section-8 .u-image-3 {
    min-height: 316px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 316px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1913px;
  }

  .u-section-8 .u-image-1 {
    min-height: 473px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 474px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 474px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 474px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-8 .u-shape-1 {
    width: 241px;
  }

  .u-section-8 .u-image-1 {
    min-height: 298px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-8 .u-image-2 {
    min-height: 298px;
  }

  .u-section-8 .u-image-3 {
    min-height: 298px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 298px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 423px;
}

.u-section-9 .u-line-1 {
  width: 194px;
  margin: 60px auto 0 0;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px 218px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 218px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 30px auto 60px 0;
  padding: 11px 31px 11px 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: auto;
  }

  .u-section-9 .u-text-2 {
    margin-right: auto;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 436px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 19px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 95px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 219px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-10 .u-text-2 {
  text-transform: none;
  font-size: 1.125rem;
  margin: 14px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 45px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 40px 0;
}

.u-section-10 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-10 .u-layout-cell-4 {
  min-height: 269px;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 37px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-10 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 9px;
  }
}